fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
pydantic
pydantic-settings
python-multipart
python-dotenv
typing-extensions

pytest
httpx
pytest-asyncio

pytest-cov
factory_boy
faker
requests

google-auth
google-auth-oauthlib
google-api-python-client
aiosqlite

celery